* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6600;
}

.hero {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 150px 0;
  color: #fff;
  background-image: url('charusat.jpg');
  background-size: cover;
  background-position: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: -1;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e65c00;
}

.about {
  background-color: #fff;
  padding: 60px 0;
}

.about h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about p {
  font-size: 18px;
  text-align: center;
  color: #666;
}

.courses {
  padding: 60px 0;
}

.courses h2 {
  text-align: center;
  margin-bottom: 40px;
}

.course-card {
  text-align: center;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.course-card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.course-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
  margin-top: 40px;
}

.button-container .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.button-container .btn:hover {
  background-color: darkorange;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #999;
}
